<footer *ngIf="dashboard">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="footer_item">
                    <h4>how We Go started</h4>
                    <hr class="brd">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint eveniet porro accusantium minus nulla expedita autem quasi excepturi.</p>
                </div>
            </div>

            <div class="col-md-3">
                <div class="footer_item">
                    <h4>Latest News</h4>
                    <hr class="brd">

                    <div class="viewed my-3">
                            <div class="item d-flex">
                                <img class="img-fluid" src="assets/mobile.jpg" alt="">
                                <div class="item_details mt-3">
                                    <h6>Mobile Samsounq A53 </h6>
                                    <h6>$300.00</h6>
                                </div>
                            </div>
                            <hr class="main_brdr">

                                <div class="item d-flex">
                                    <img class="img-fluid" src="assets/mobile.jpg" alt="">
                                    <div class="item_details mt-3">
                                        <h6>Mobile Samsounq A53 </h6>
                                        <h6>$300.00</h6>
                                    </div>
                                </div>
                                <hr class="main_brdr">
                            </div>
                    

                    <!-- <hr class="main_brdr"> -->
                </div>
            </div>

            <div class="col-md-3">
                <div class="footer_item">
                    <h4>Our Products</h4>
                    <hr class="brd">

                    <div class="viewed my-3">
                        <div class="item d-flex">
                            <img class="img-fluid" src="assets/mobile.jpg" alt="">
                            <div class="item_details mt-3">
                                <h6>Mobile Samsounq A53 </h6>
                                <h6>$300.00</h6>
                            </div>
                        </div>
                        <hr class="main_brdr">

                            <div class="item d-flex">
                                <img class="img-fluid" src="assets/mobile.jpg" alt="">
                                <div class="item_details mt-3">
                                    <h6>Mobile Samsounq A53 </h6>
                                    <h6>$300.00</h6>
                                </div>
                            </div>
                            <hr class="main_brdr">
                        </div>
                    <!-- <hr class="main_brdr"> -->
                </div>
            </div>

            <div class="col-md-3">
                <div class="footer_item">
                    <h4>Newsletter</h4>
                    <hr class="brd">
                    <input class="form-control bg-transparent" type="text" placeholder="Name">
                    <input class="form-control bg-transparent my-3" type="text" placeholder="Email">
                    <button class="btn btn-light w-100 ">Subscribe</button>
                </div>
            </div>

        </div>
        
    </div>

    <div class="footer_bottom">
        <div class="container">
            <div class="row">
                <div class="col-md-9">
                    <div class="footer_text">
                        <h6 class="">© All rights reserved</h6>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="icons">
                        <i class="fa-brands fa-facebook-f fa-bounce"></i>
                        <i class="fa-brands fa-twitter"></i>
                        <i class="fa-brands fa-youtube"></i>
                        <i class="fab fa-dribbble"></i>
                        <i class="fab fa-pinterest"></i>
                        <i class="fab fa-medium"></i>
                    </div>
                </div>
            </div>
        </div>

    </div>


</footer>