<header class="head ">

    <h3><span>Hossam</span> Ashraf</h3>

    <nav id="menu" class="navbar navbar-expand-lg  ">
        <a class="nav-link "  routerLink="/home" routerLinkActive="activebutton" >Home</a>
        <!-- <a class="nav-link" routerLink="/" routerLinkActive="router-link-active">About</a> -->
        <a class="nav-link"  routerLink="/skills" routerLinkActive="activebutton" > Skills </a> 
        <a class="nav-link" routerLink="/portofolio" routerLinkActive="activebutton" >Portofolio</a>
        <a class="nav-link" href="#contact">Contact</a>
    </nav>

        <i id="menu-bar" class="fas fa-bars "></i>



    

        <!-- <i class="fas fa-times"></i> -->



</header>

