.dash
{
    padding-top: 100px;
}
.dash img
{
    height: 80px;
    width: 80px;
}
.dash ul li, .fa-spin-pulse, .fa-circle-check
{
    font-size: 22px;
}
.dash .btn
{
    /* width: 10%; */
    float: right;
    margin-bottom: 10px;

}
#success-alert
{
    width: 50%;
}
table
{
    text-align: center;
}

.dash .sideBar
{
    background-color: white;
    height: 100vh;
    width: 200px;
    position: absolute;
    position: fixed;
    left: 0;
}
.dash .sideBar h2
{
    background-color: #282828;
    color: whitesmoke;
    text-align: center;
    padding: 23px 0;
}
.dash .sideBar ul
{
    margin-top: 40px;
}
.dash .sideBar ul li
{
    padding: 10px;
    font-size: 20px;
    cursor: pointer;
    opacity: 0.8;
    color: #666;
    transition: all 0.2s;
    
}
.dash .sideBar ul li:hover
{   color: #282828;
    opacity: 1;
}
.Products_imgs img
{
    width: 20%;
    padding: 2px;
}