<section class="shop_header">
    <div class="stars"></div>
    <h2>LET IT BEGIN!</h2>
    <h1>BLACK FRIDAY</h1>
    <h2>EXTRA 20% OFF SALE</h2>
</section>

<section class="shop_container products">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="product_filter">
                    <h3>Home / Shop</h3>
                    <div class="search_input">
                        <input class="form-control d-inline" type="text" placeholder="Search products..">
                        <button class="btn btn-dark d-inline">Search</button>
                    </div>

                    <h4 class="fw-bold">FILTER BY PRICE :</h4>
                    <div class="filter_input">
                      <form id="price-range-form">
                        <label for="min-price" class="form-label">Min price:  </label>
                        <span id="min-price-txt" class="fw-bold"> $0</span>
                        <input type="range" class="form-range" min="0" max="999" id="min-price" step="1" value="0">
                        <label for="max-price" class="form-label">Max price: </label>
                        <span id="max-price-txt" class="fw-bold"> $1000</span>
                        <input type="range" class="form-range" min="1" max="1000" id="max-price" step="1" value="1000">
                      </form>
                    </div>

                    <div class="viewed">
                        <h2>RECENTLY VIEWED PRODUCTS</h2>
                            <div class="item d-flex">
                                <img class="img-fluid" src="assets/mobile.jpg" alt="">
                                <div class="item_details mt-3">
                                    <h4>Mobile Samsounq A53 </h4>
                                    <h5>$300.00</h5>
                                </div>
                            </div>
                                <hr>

                                <div class="item d-flex">
                                    <img class="img-fluid" src="assets/mobile.jpg" alt="">
                                    <div class="item_details mt-3">
                                        <h4>Mobile Samsounq A53 </h4>
                                        <h5>$300.00</h5>
                                    </div>
                                </div>
                                <hr>
                    </div>

                    <div class="video">
                        <h2 class="my-3">SEE OUR PRODUCT</h2>
                        <video src=""></video>
                    </div>

                </div>
            </div>
            <div class="col-md-9">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="productBox">
                                <div class="product_img">
                                    <div class="product_img_layer"><i class="fa-solid fa-magnifying-glass"></i></div>
                                    <img class="img-fluid" src="assets/product 5.jpg" alt="">
                                </div>
                                <p class="type">Mpbile Phone</p>
                                <h2 class="name">I Phone 6</h2>
                                <div class="stars">
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star-half-stroke"></i>
                                </div>
                                <h4 class="price">$300.00 </h4>
                                <a class="img_head" href="#"><button class="btn btn-outline-dark">Add To Cart</button></a>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="productBox">
                                <div class="product_img">
                                    <div class="product_img_layer"><i class="fa-solid fa-magnifying-glass"></i></div>
                                    <img class="img-fluid" src="assets/product 5.jpg" alt="">
                                </div>
                                <p class="type">Mpbile Phone</p>
                                <h2 class="name">I Phone 6</h2>
                                <div class="stars">
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star-half-stroke"></i>
                                </div>
                                <h4 class="price">$300.00 </h4>
                                <a class="img_head" href="#"><button class="btn btn-outline-dark">Add To Cart</button></a>
                            </div>
                        </div>
                        <div class="col-md-3"></div>
                        <div class="col-md-3"></div>
                    </div>
                
            </div>
        </div>
    </div>
</section>
