
<section class="home">
    <div class="home_layer"></div>

    <div class="container text-white">
        <div class="row">
            <div class="col-md-6">
                <div class="home_details">
                    <h4>SPACE JUST GOT PERSONAL</h4>
                    <div class="home_head">
                        <h1>NEW Flatsome TUTORIAL</h1>
                    </div>
                    <div class="home_desc">
                        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam dolore nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
                    </div>
                    <div class="home_btns">
                        <a href="#"><button class="btn btn-outline-white">Watch Now <i class="fa-solid fa-cart-shopping"></i></button></a>
                        <a href="#"><button class="btn btn-outline-dark">More Info <i class="fa-solid fa-arrow-right"></i></button></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>



<section class="features">
    <div class="container text-center">
        <div class="row">
            <div class="col-md-4">
                <div class="content">
                    <img class="feature_img" src="assets/box.png" alt="">
                    <h3>Fuss Free Returns</h3>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Corrupti quibusdam assumenda doloribus corporis, cumque culpa.</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="content">
                    <img class="feature_img" src="assets/room.png" alt="">
                    <h3>Priority Shipping</h3>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Corrupti quibusdam assumenda doloribus corporis, cumque culpa.</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="content">
                    <img class="feature_img" src="assets/cart.png" alt="">
                    <h3>In-home Setup</h3>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Corrupti quibusdam assumenda doloribus corporis, cumque culpa.</p>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="sale">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="box">
                    <div class="content_img" >
                        <img class="box_img" src="assets/lab.jpg" alt="">
                    </div>
                    <div class="box_content ">
                        <h1 class="img_head">On Sale Laptops</h1>
                        <a class="img_head" routerLink="/shop"><button class="btn btn-outline-dark">Shop Now <i class="fa-solid fa-cart-shopping"></i></button></a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="box">
                    <div class="content_img">
                    <img class="box_img" src="assets/watch.jpg" alt="">
                    </div>
                    <div class="box_content">
                        <h1 class="img_head">50% OFF Watches</h1>
                        <a class="img_head" routerLink="/shop"><button class="btn btn-outline-dark">Shop Now <i class="fa-solid fa-cart-shopping"></i></button></a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="box">
                    <div class="content_img">
                    <img class="box_img" src="assets/head.jpg" alt="">
                    </div>
                    <div class="box_content ">
                        <h1 class="img_head">New Headphones</h1>
                        <a class="img_head"routerLink="/shop"><button class="btn btn-outline-dark">Shop Now <i class="fa-solid fa-cart-shopping"></i></button></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="products">
    <div class="container">
    <h1>FEATURED PRODUCTS</h1>
        <div class="row">
            <owl-carousel-o [options]="customOptions">
                <ng-container *ngFor="let item of showProducts|existedItems:showProducts">
                    <ng-template carouselSlide [id]="item?.id">
                        <div class="productBox">
                            <div class="product_img">
                                <div [routerLink]="['/productdetails', item?.id, item.category?.id]" class="product_img_layer"><i class="fa-solid fa-magnifying-glass"></i></div>
                                <img class="img-fluid" [src]="item.cover_image.path" alt="">
                            </div>
                            <p class="type">{{item.category?.name || 'category name' }} </p>
                            <h5 class="name">{{item?.name}}</h5>
                            <div class="stars">
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star-half-stroke"></i>
                            </div>
                            <h6 class="price">${{item?.price}}</h6>
                            <a (click)="addItemToCart(item?.id)" class="img_head" ><button class="btn btn-outline-dark">Add To Cart</button></a>
                        </div>
                    </ng-template>
                  </ng-container>
                
        </owl-carousel-o>



            
            

        </div>
    </div>
</section>


<section class="poster">
    <div class="container">
        <h2>NEWSLETTER</h2>
        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
        <form>
            <input class="form-control"  type="text" placeholder="Email">
            <button class="btn btn-dark">Send</button>
        </form>
    </div>
</section>

<section class="product_slider">
    
</section>

<section class="news">
    <div class="container">
        <h1>GET THE FASION NEWS</h1>
        <div class="row">
            <div class="col-md-4">
                <div class="new_box">
                    
                    <img class="new_img img-fluid" src="assets/blog-3.jpg" alt="">
                    <div class="new_content">
                        <h2>10 Best Laptops</h2>
                        <p>The standard Lorem Ipsum passage, used since the 1500s “Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore elit</p>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="new_box">
                    <img class="new_img img-fluid" src="assets/blog-5.jpg" alt="">
                    <div class="new_content">
                        <h2>10 Best Laptops</h2>
                        <p>The standard Lorem Ipsum passage, used since the 1500s “Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore elit</p>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="new_box">
                    <img class="new_img img-fluid" src="assets/blog-7.jpg" alt="">
                    <div class="new_content">
                        <h2>10 Best Laptops</h2>
                        <p>The standard Lorem Ipsum passage, used since the 1500s “Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore elit</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>